<h1 class="text-white text-center m-5 font-weight-bold">Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="card mb-5 shadow rounded">
        <p>img src="" class="card-img-top cocktail-pic" alt=""</p>
        <div class="card-body">
          <h5 class="card-title font-weight-bold"><%= cocktail.name %></h5>
          <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
          <%= link_to "See details", cocktail, class: "btn btn-outline-success badge-pill" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
