<h1 class="text-white text-center m-5 font-weight-bold">Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="card mb-5 shadow rounded">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class: "cocktail-pic"%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title font-weight-bold"><%= cocktail.name %></h5>
          <%= link_to "See details", cocktail, class: "btn btn-outline-success badge-pill" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
