<nav class="navbar navbar-light bg-transparent position-sticky fixed-top">
  <%# <i class="fas fa-cocktail"></i> %>
  <h1><%= link_to icon("fas", "cocktail"), root_path, class: "text-success strong" %></h1>
  <%= link_to "Create a Cocktail", new_cocktail_path, class: "btn btn-outline-success my-2 my-sm-0 badge-pill" %>

  <%# <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> %>
</nav>
