.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color:#1edd87;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #1edd87;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #117246;
}
.footer .fa-heart {
  color: #D23333;
}
